---
---
@import "standart";

.background-video {
    background: #18182d;
    .video-foreground {
        opacity: 0;
    }
}

.page-content {
    text-shadow: none;
    .changelog {
        code {
            color: #997fff;
            background: #8768ff17;
            padding: 0.3rem;
        }
        hr {
            border: none;
            border-top: dashed 4px #ffffff0c;
            margin: 2rem 0;
        }
        p {
            font-family: 'Roboto';
            font-size: 1.4rem;
            padding: 0.4rem 0;
        }
        .item {
            .header {
                .date {
                    font-size: 1.8rem;
                    padding-bottom: 0;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .version {
                    border-radius: 2px;
                    font-size: 1rem;
                    padding: 2px 4px;
                    font-weight: bold;
                    border: solid 1px #fff8;
                    color: #fff8;
                }
            }
            .group-header {
                margin: 1rem 0 0.5rem 0;
                text-transform: uppercase;
                font-weight: bold;
                color: #fffc;
            }
            .log-items {
                list-style: none;
                .log-item {
                    font-size: 1.3rem;
                    font-family: 'Roboto';
                    padding: 0.4rem 0;
                    // text-indent: -0.75em;
                    &:before {
                        content: '—';
                        display: inline-block;
                        color: #fff4;
                        font-weight: bold;
                        padding-right: 10px;
                        width: 14px;
                    }
                }
            }
        }
    }
    & a {
        text-decoration: none;
        padding-bottom: 0px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        &:hover {
            text-decoration: none;
            padding-bottom: 0px;
            border-bottom: 2px solid #ffffff;
        }
    }
    & a.clear, a.clear:hover{
        border: none;
    }
    & br.mobile {
        display: none;
        @include mobile {
            display: block;
        }
    }
}