---
---
@import "standart";

.page-content {
    & p {
        padding: 1.7142857142857142rem 0;
    }
    & .title {
        color: #00d657;
        text-transform: uppercase;
    }
    & em {
        font-style: normal;
        color: #795548;
        background: #fbe119;
        margin-right: 5px;
        padding: 3px 10px;
        box-shadow: #eab20e 5px 5px;
        text-shadow: none;
    }
}