---
---
@import "standart";

.page-content {
    & p {
        font-size: 1.1428571428571428rem;
        padding: 6px 0;
        & .logo {
            height: 370px;
            width: auto;
        }
        & .logo_text {
            height: 302px;
            width: auto;
        }
    }
}

