---
---
@import "standart";

.page-content {
    & p {
        font-size: 1.1428571428571428rem;
        padding: 6px 0;
        & .logo {
            width: 50%;
        }
        & .logo_text {
            width: 100%;
        }
    }
    & a.clear, a.clear:hover{
        border: none;
    }
}

