---
---
@import "standart";

.page-content {
    text-shadow: none;
    font-family: 'HansKendrick', 'roboto';
    display: block;
    & h1 {
        padding-bottom: 30px;
    }
    & h2 {
        font-size: 2.5rem;
        padding-top: 38px;
        padding-bottom: 23px;
    }
    & h3 {
        font-size: 1.95rem;
        padding: 17px 0;
    }
    & p {
        font-size: 1.4285714285714286rem;
        line-height: 1.8;
        font-family: 'Roboto';
        padding-bottom: 10px;
    }
    & a {
        text-decoration: none;
        padding-bottom: 0px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        &:hover {
            text-decoration: none;
            padding-bottom: 0px;
            border-bottom: 2px solid #ffffff;
        }
    }
    & ul {
        list-style: disc;
        padding-left: 20px;
        font-family: 'Roboto';
    }
    & li {
        font-size: 1.3571428571428572rem;
        padding: 5px;
        line-height: 1.8rem;
    }
    & .video-foreground {
        opacity: 0.1;
    }
    & a.clear, a.clear:hover{
        border: none;
    }

    & hr {
        border: none;
        margin: 1rem 0 1rem 0;
    }
}

.page-nav {
    display: flex;
    line-height: 150%;
    justify-content: space-between;
    font-size:  1.1428571428571428rem;
    &__prev {
        text-align: left;
    }
    &__next {
        text-align: right;
    }
}
