---
---

.page-content {
    text-shadow: none;
    & .video-foreground {
        opacity: 0.1;
    }
    & p {
        font-size: 20px;
        line-height: 1.8;
        font-family: 'Roboto';
        padding-bottom: 10px;
    }
    & h2 {
        font-size: 2rem;
        font-family: 'HansKendrick', 'Roboto';
        cursor: pointer;
        border-left: solid 4px rgba(255, 255, 255, 0.3);
        margin: 12px 0;
        padding-left: 0.5em;
    }
    & h3 {
        font-size: 1.7rem;
    }
    &.collapse-regions h2 {
        margin-top: 3rem;
        font-size: 2rem;
        cursor: pointer;
        border-left: solid 4px rgba(255, 255, 255, 0.3);
        margin-left: 0;
        padding-left: 0.5em;
    }
    & ul {
        list-style: disc;
        padding-left: 40px;
        font-family: 'roboto';
    }
    & li {
        font-size: 19px;
        padding: 5px;
    }
    & a {
        text-decoration: none;
        padding-bottom: 0px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        &:hover {
            text-decoration: none;
            padding-bottom: 0px;
            border-bottom: 2px solid #ffffff;
        }
    }
    & em {
        font-style: normal;
        color: #795548;
        background: #fbe119;
        margin-right: 5px;
        padding: 3px 10px;
        box-shadow: #eab20e 5px 5px;
        text-shadow: none;
    }
}



.faq-ru


.faq-ru h3 {
    font-size: 1.7rem;
    font-family: 'Roboto';
}


.faq p, .faq-ru p {
    font-size: 20px;
    line-height: 1.8;
    font-family: 'Roboto';
}

.faq a, .faq-ru a {
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.faq a:hover, .faq-ru a:hover {
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: 2px solid #ffffff;
}