---
---
@import "standart";

.background-video {
    background: #18182d;
    .video-foreground {
        opacity: 0;
    }
}

.page-content {
    text-shadow: none;
    .changelog {
        kbd {
            border-radius: 4px;
            background: #131313;
            padding: 0.3rem;
            font-family: 'Roboto Mono';
            font-size: 1.1rem;
        }
        code {
            color: #997fff;
            background: #8768ff17;
            padding: 0.3rem;
        }
        hr {
            border: none;
            border-top: dashed 4px #ffffff0c;
            margin: 2.6rem 0 1.5rem 0;
        }
        p {
            font-family: 'Roboto';
            font-size: 1.4rem;
            padding: 0.4rem 0;
        }
        .item {
            .header {
                cursor: pointer;
                .date {
                    font-size: 1.8rem;
                    padding-bottom: 0;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #fffd;
                }
                .placeholder {
                    color: #fff8;
                    display: none;
                    margin-bottom: -1.2rem;
                }
                .tag {
                    border-radius: 2px;
                    font-size: 1rem;
                    padding: 2px 4px;
                    font-weight: bold;
                    color: #fffa;
                    text-transform: uppercase;
                    border: solid 1px #fffa;
                }
                .tag.wipe {
                    color: #ff9b00;
                    border-color: #ff9b00;
                    background: #ff9b001f;
                }
            }
            .text {
                margin-top: 1rem;
            }
            .group-header {
                margin: 1rem 0 0.5rem 0;
                text-transform: uppercase;
                font-weight: bold;
                color: #fff;
            }
            .group-header.gameplay {
                color: #e4c10b;
            }
            .group-header.improvements {
                color: #3da4ff;
            }
            .group-header.fixes {
                color: #d03131;
            }
            .group-header.modding {
                color: #8768ff;
            }
            .group-header.known-issues {
                color: #848484;
            }
            .log-items {
                list-style: none;
                .log-item {
                    display: flex;
                    font-size: 1.3rem;
                    font-family: 'Roboto';
                    padding: 0.4rem 0;
                    &:before {
                        content: '—';
                        display: inline-block;
                        color: #fff4;
                        font-weight: bold;
                        padding-right: 1rem;
                    }
                }
            }
        }
    }
    & a {
        text-decoration: none;
        padding-bottom: 0px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        &:hover {
            text-decoration: none;
            padding-bottom: 0px;
            border-bottom: 2px solid #ffffff;
        }
    }
    & a.clear, a.clear:hover{
        border: none;
    }
    & br.mobile {
        display: none;
        @include mobile {
            display: block;
        }
    }
}