@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Heavy.otf');
    font-weight: 700;
}

body {
    display: flex;
    font-family: 'HansKendrick';
    max-width: 1140px;
    margin: 0 auto;
    /*background: rebeccapurple;*/
}

h1 {
    font-size: 28px;
    margin-top: 3rem;
    /*opacity: 0.7;*/
}

#tldr {
    margin-bottom: 4rem;
}

#tldr strong {
    color: #00d657;
    text-transform: uppercase;
}

#tldr em {
    font-style: normal;
    /* font-weight: bold; */
    color: #795548;
    background: #fbe119;
    margin-right: 5px;
    padding: 3px 10px;
    box-shadow: #eab20e 5px 5px;
}

#header {
    /*font-style: italic;*/
    font-size: 64px;
    color: dodgerblue;
    font-family: 'Faster One';
    margin-right: -100px;
    margin-left: -13px;
}

#content {
    flex: 2;
    padding-right: 100px;
}

#content a {
    color: black;
    text-decoration: none;
    padding-bottom: 1px;
    /*border-bottom: 4px solid #FF1E54;*/
    font-weight: bold;
}

#content a:hover {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 4px solid #FF1E54;
     /*#fcbdcc;*/
}

#tldr {
    margin-top: 5rem;
}

#tldr p {
    font-size: 24px;
    line-height: 1.5em;
    /*margin: 0.7em 0;*/
}

#tldr a.twitter {
    color: #1da1f2;
}

#tldr a.facebook {
    color: #3b5998;
}

#tldr a.vk {
    color: #45668e;
}

img {
    border-radius: 6px;
}