@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Heavy.otf');
    font-weight: 700;
}

body {
    display: flex;
    justify-content: center;
}

#content {
    font-family: 'HansKendrick';
    padding: 0 20px;
    margin-top: 70px;
    max-width: 1140px;
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
}

h1 {
    font-size: 28px;
    margin-top: 3rem;
    /*opacity: 0.7;*/
}

#tldr {
    margin-bottom: 4rem;
}

#tldr h1 {
    font-size: 3rem;
}

#tldr strong {
    color: #00d657;
    text-transform: uppercase;
}

#tldr em {
    font-style: normal;
    /* font-weight: bold; */
    color: #795548;
    background: #fbe119;
    margin-right: 5px;
    padding: 3px 10px;
    box-shadow: #eab20e 5px 5px;
    text-shadow: none;
}

#header {
    /*font-style: italic;*/
    font-size: 64px;
    color: dodgerblue;
    font-family: 'Faster One';
    margin-right: -100px;
    margin-left: -13px;
}

#content a {
    color: white;
    text-decoration: none;
    padding-bottom: 1px;
    /*border-bottom: 4px solid #FF1E54;*/
    font-weight: bold;
}

#content a:hover {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 4px solid #FF1E54;
     /*#fcbdcc;*/
}

#tldr {
    margin-top: 5rem;
}

#tldr p {
    font-size: 24px;
    line-height: 1.5;
}

#tldr a.twitter {
    color: #1da1f2;
}

#tldr a.facebook {
    color: #3b5998;
}

#tldr a.vk {
    color: #45668e;
}

#tldr a.youtube {
    color: #cd201f;
}

img {
    border-radius: 6px;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    z-index: -99;
}

.video-foreground {
    position: absolute;
    top: -6%;
    left: 0;
    width: 100%;
    height: 112%;
    pointer-events: none;
    filter: grayscale(0%);
    opacity: 0.6;
}

.video-foreground video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    animation: fadein 5s;
}
