@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes colorchange
{
  0%   { color: #8BC34A;}
  25%  { color: yellow;}
  50%  { color: #28d6ff;}
  75%  { color: #9C27B0;}
  100% { color: #8BC34A;}
}

@keyframes greenlight
{
  0% { box-shadow: #458c21 5px 5px; }
  100% { box-shadow: #458c21 0px 0px; }
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Heavy.otf');
    font-weight: 700;
}

hr {
    opacity: 0;
}

body {
    display: flex;
    justify-content: center;
}

#content {
    font-family: 'HansKendrick';
    padding: 0 20px;
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-wrap: wrap;
    margin: 6rem -40px 4rem -40px;
}

.page-content img {
    width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 1rem;
    /*opacity: 0.7;*/
}

.tldr strong {
    color: #00d657;
    text-transform: uppercase;
}

.tldr em, .faq em, .faq-ru em {
    font-style: normal;
    /* font-weight: bold; */
    color: #795548;
    background: #fbe119;
    margin-right: 5px;
    padding: 3px 10px;
    box-shadow: #eab20e 5px 5px;
    text-shadow: none;
}

.page-content {
    margin-right: 150px;
    margin: 0 70px;
    flex-grow:9999;
    /*flex-basis: 700px;*/
    max-width: 700px;
}

.container a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container a:hover {
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 4px solid #fbe119;
}

.tldr p {
    font-size: 24px;
    line-height: 1.7;
}

a.twitter {
    color: #1da1f2;
}

a.facebook {
    color: #6f8ed0;
}

a.vk {
    color: #6daefd;
}

a.youtube {
    color: #cd201f;
}

a.reddit {
    color: #FF4500;
}

a.discord {
    color: #6F60C1;
}

.greenlight {
    background: #54b726;
    box-shadow: #458c21 5px 5px;
    font-style: normal;
    margin-right: 5px;
    padding: 3px 10px;
    text-shadow: none;
}

a.greenlight:hover {
    border: none;
    background: #61d12e;
    box-shadow: #458c21 5px 5px;
    text-decoration: none;
    border-bottom: none;
    padding-bottom: 3px;
    animation: greenlight 1s infinite alternate;
    animation-timing-function: linear; 
}

a.faqlink {
    animation: colorchange 30s;
    animation-iteration-count:infinite;
}

img {
    border-radius: 6px;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    z-index: -99;
}

.video-foreground {
    position: absolute;
    top: -6%;
    left: 0;
    width: 100%;
    height: 112%;
    pointer-events: none;
    filter: grayscale(0%);
    opacity: 0.4;
}

.video-foreground .video-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.video-foreground video.video-content {
    animation: fadein 5s;
}

.faq, .faq-ru {
    text-shadow: none;
}

.faq-ru h1 {
    font-family: 'Roboto';
}

.faq h2 {
    margin-top: 3rem;
    font-size: 2.5rem;
}

.faq-ru h2 {
    font-size: 2.5rem;
    font-family: 'Roboto';
}

.faq h3 {
    font-size: 1.2rem;
}

.faq-ru h3 {
    font-size: 1.2rem;
    font-family: 'Roboto';
}


.faq p, .faq-ru p {
    font-size: 20px;
    line-height: 1.8;
    font-family: 'Roboto';
}

.faq a, .faq-ru a {
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.faq a:hover, .faq-ru a:hover {
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: 2px solid #ffffff;
}

.sidebar {
    font-size: 24px;
    margin: -36px 70px 0px 70px;
    flex-grow: 1;
}

.sidebar .logo {
    margin: -6px;
}

.sidebar .logo:hover {
    border: none;
}

.sidebar small {
    font-size: 14px;
    vertical-align: top;
}

code {
    background: rgba(255, 255, 255, 0.3);
    /* font-family: 'HansKendrick'; */
    padding: 0 5px;
}

blockquote {
    border-left: solid 4px rgba(255, 255, 255, 0.3);
    margin-left: 0;
    padding-left: 1em;
}