---
layout: post
style: changelog
title: Changelog
permalink: changelog
theme: 18182d
---

<div class="changelog">

{% for item in site.data.changelog.items %}
<div class="item" id="{{ item.version }}">
    <p class="header">
        <span class="date">{{ item.date | date: "%b %d, %Y" }}</span><br/>
        <span class="version">{{ item.version }}</span>
    </p>
    {% for group in item.groups %}
        {% capture color %}#{{group.color | default: 'fff'}}{% endcapture %}
        <p class="group-header" style="color: {{ color }}">{{ group.name }}</p>
        <ul class="log-items">
            {% for item2 in group.items %}
                <li class="log-item">
                    <div>
                        {% if item2.issue %}
                            <a href="https://github.com/voxeltycoon/bug-tracker/issues/{{ item2.issue }}">{{ item2.text }}</a>
                        {% else %}
                            {{ item2 }}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    {% unless forloop.last %}
    <hr/>
    {% endunless %}
</div>

{% endfor %}

</div>