---
layout: post
style: changelog
title: Changelog
permalink: changelog
theme: 18182d
---

<iframe class="widget-steam_modal" src="https://store.steampowered.com/widget/732050/" frameborder="0"></iframe>

{% assign gameplay = 0 %}
{% assign improvements = 0 %}
{% assign fixes = 0 %}
{% assign modding = 0 %}

<!-- {% for item in site.data.changelog %}

<h1>{{ item.version }}</h1>



{% endfor %} -->

<div class="changelog">

{% for item in site.data.changelog %}
<div class="item" id="version-{{ item.version }}">
    <div class="header">
        <p>
            <span class="date">{{ item.date | date: "%b %d, %Y" }}</span><br/>
            <span class="tag version">{{ item.version }}</span>
            {% for tag in item.tags %}
                <span class="tag {{tag}}">{{ tag }}</span>
            {% endfor %}
            {% if item.title %}
            <p class="title">{{ item.title }}</p>
            {% endif %}
            <p class="placeholder">Click to expand</p>
        </p>
    </div>
    <div class="item-content">
        {% if item.text %}
            <p class="text">{{ item.text }}</p>
        {% endif %}
        {% for group in item.groups %}
            {% assign groupName = group[0] %}
            {% assign groupItems = group[1].items | default: group[1] %}
            {% assign groupClass = groupName | slugify: 'latin' %}
            <p class="group-header {{ groupClass }}"
                {% if group[1].color %}
                {% capture color %}#{{ group[1].color }}{% endcapture %}
                style="color: {{ color }}"
                {% endif %}
            >{{ groupName }}</p>
            <ul class="log-items">
                {% for logitem in groupItems %}
                    <li class="log-item">
                        <div>
                            {% if logitem.issue %}
                                <a href="https://github.com/voxeltycoon/bug-tracker/issues/{{ logitem.issue }}">{{ logitem.text }}</a>
                            {% elsif logitem.suggestion %}
                                <a href="https://github.com/voxeltycoon/suggestions/issues/{{ logitem.suggestion }}">{{ logitem.text }}</a>
                            {% else %}
                                {{ logitem }}
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
    {% unless forloop.last %}
    <hr/>
    {% endunless %}
</div>

{% endfor %}

</div>

<script>
    function toggle(header, showOnly) {
        if (header.is(".collapsed")) {
            header.removeClass('collapsed')
            header.next().show()
            header.find(".placeholder").hide()
        } else if (!showOnly) {
            header.addClass('collapsed')
            header.next().hide()
            header.find(".placeholder").show()
        }
    }

    function toggleFromHash() {
        const item = $('#version-' + location.hash.substr(1).replace(/\./g, '\\.'))
        setTimeout(function() {
            toggle(item.find('.header'), true)
            scrollTo({ top: item.offset().top, behavior: 'smooth' })
        }, 200)
    }

    $('.header').click(function() {
         toggle($(this))
    })

    toggle($('.header:gt(0)'))

    $(function() {
        if (location.hash) 
            toggleFromHash()
    })

    $(window).on('hashchange', function(){ 
        toggleFromHash()
    });
</script>