---
style: countdown
permalink: countdown
theme: 18182d
---

{% include head.html %}


<div class="page-content">
    
    <div class="countdown">

            <img style="width: 123px; opacity: 1" src="/assets/outlined-33-shadow.png"/>

        <p class="header">This is happening</p>

        <p class="sub-header">Stay tuned to find out Public Pre-Alpha start date*</p>

        <p id="countdown-text"></p>

        <p class="sub-sub-header">* Yep, this is an announcement of an announcement</p>

    </div>
</div>

{% include footer.html %}

<script>
var countDownDate = Date.parse("Jun 15, 2019 19:00:00 GMT");

var updateCountdown = function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;

  distance = Math.max(0, distance);

  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  document.getElementById("countdown-text").innerHTML = `${days}d ${hours}h ${minutes}m ${seconds}s`;

  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown-text").innerHTML = "SOON™";
  }
}

updateCountdown();
var x = setInterval(updateCountdown, 1000);
</script>
