---
layout: post
style: devlog
title: Devlog
permalink: devlog
---

{% assign posts = site.posts | where: "category", "devlog" %}
{% assign items = posts | concat: site.data.changelog | sort: "date" | reverse %}
{% for item in items %}
    {% unless item.draft %}
        {% if item.url %}
        <p><a href="{{ item.url }}">{{ item.title }}</a><br class="mobile"> <date>{{ item.date | date_to_long_string }}</date></p>
        {% else %}
        <p><a href="/changelog#{{ item.version }}">
            {% assign title = site.new_version_available_texts | sample %}
            {{ title | replace: "$1", item.version }}
        </a><br class="mobile"> <date>{{ item.date | date_to_long_string }}</date></p>
        {% endif %}
    {% endunless %}
{% endfor %}