<h1>Wallpapers</h1>
<div class="gallery-thumbs">
    {% include thumb.html name="logo-screen2.png" %}
    <a href="/assets/gallery/logo-m8zlwp9g.9bw.png" target="_blank">
        <img src="/assets/gallery/logo-m8zlwp9g.9bw.png"/>
    </a>
    <a href="/assets/gallery/logo-screen3.png" target="_blank">
        <img src="/assets/gallery/logo-screen3.png"/>
    </a>
    <a href="/assets/gallery/logo-vpq0umkb.sn9.png" target="_blank">
        <img src="/assets/gallery/logo-vpq0umkb.sn9.png"/>
    </a>
    <a href="/assets/gallery/nivjx70w.uwa.jpg" target="_blank">
        <img src="/assets/gallery/nivjx70w.uwa.jpg"/>
    </a>
    <a href="/assets/gallery/Screenshot (18).jpg" target="_blank">
        <img src="/assets/gallery/Screenshot (18).jpg"/>
    </a>
    <a href="/assets/gallery/Screenshot (19).jpg" target="_blank">
        <img src="/assets/gallery/Screenshot (19).jpg"/>
    </a>
    <a href="/assets/gallery/Screenshot (22).jpg" target="_blank">
        <img src="/assets/gallery/Screenshot (22).jpg"/>
    </a>
    <a href="/assets/gallery/Screenshot (26).jpg" target="_blank">
        <img src="/assets/gallery/Screenshot (26).jpg"/>
    </a>
    <a href="/assets/gallery/Screenshot (27).jpg" target="_blank">
        <img src="/assets/gallery/Screenshot (27).jpg"/>
    </a>
    <a href="/assets/gallery/tel2u5i8.0am.jpg" target="_blank">
        <img src="/assets/gallery/tel2u5i8.0am.jpg"/>
    </a>
</div>

<h1>Gifs</h1>

<div class="gallery-thumbs">
    <a href="/assets/gallery/slice.gif" class="gif" target="_blank">
        <img src="/assets/gallery/slice.gif"/>
    </a>
    <a href="/assets/gallery/output_bayer_scale_2_1.gif" class="gif" target="_blank">
        <img src="/assets/gallery/output_bayer_scale_2_1.gif"/>
    </a>
    <a href="/assets/gallery/output_bayer_scale_2_3.gif" class="gif" target="_blank">
        <img src="/assets/gallery/output_bayer_scale_2_3.gif"/>
    </a>
    <a href="/assets/gallery/output_bayer_scale_2.gif" class="gif" target="_blank">
        <img src="/assets/gallery/output_bayer_scale_2.gif"/>
    </a>
    <a href="/assets/gallery/output_floyd_steinberg.gif" class="gif" target="_blank">
        <img src="/assets/gallery/output_floyd_steinberg.gif"/>
    </a>
</div>

<h1>Screenshots</h1>
<div class="gallery-thumbs">
    <a href="/assets/gallery/XW2E2whSug.jpg" target="_blank">
        <img src="/assets/gallery/XW2E2whSug.jpg"/>
    </a>
    <a href="/assets/gallery/8rynZbTln5s.jpg" target="_blank">
        <img src="/assets/gallery/8rynZbTln5s.jpg"/>
    </a>
    <a href="/assets/gallery/Y4vB6wlBsG8.jpg" target="_blank">
        <img src="/assets/gallery/Y4vB6wlBsG8.jpg"/>
    </a>
    {% include thumb.html name="7PiM_sKy10.jpg" %}
    {% include thumb.html name="20170810-135042.png" %}
    {% include thumb.html name="20170810-135102.png" %}
    {% include thumb.html name="20170810-135136.png" %}
    {% include thumb.html name="20170810-135143.png" %}
    {% include thumb.html name="20170810-135725.png" %}
    {% include thumb.html name="20170810-141220.png" %}
    {% include thumb.html name="20170810-141253.png" %}
    {% include thumb.html name="20170810-142227.png" %}
    {% include thumb.html name="20170810-142312.png" %}
    {% include thumb.html name="20170810-142324.png" %}
    {% include thumb.html name="20170810-142339.png" %}
</div>