{% if include.style == "sdkReleaseNote" %}

<div style="padding-left: 40px">
    <img src="{{include.src}}" style="width: 100%; margin: 5px;"/>
</div>

{% else %}
{% endif %}
{% if include.style == "threeImg" %}

<div class="three-img">
    <img src="{{include.src}}" class="three-img_item">
    <img src="{{include.src2}}" class="three-img_item">
    <img src="{{include.src3}}" class="three-img_item">
</div>

{% else %}
{% endif %}
{% if include.style == "twoImg" %}

<div class="two-img">
    <img src="{{include.src}}" class="two-img_item">
    <img src="{{include.src2}}" class="two-img_item">
</div>

{% else %}
{% endif %}
{% if include.style == 'null' %}

<div>
    <a class="clear" href="{{include.src}}">
        <img src="{{include.src}}" style="margin-bottom: 6px" />
    </a>
    <span class="img-alt">{{include.alt}}</span>
</div>

{% else %}
{% endif %}




