<footer class="page-content__footer">
    <a class="page-content__footer__discord-banner clear" target="_blank" href="//discord.gg/voxeltycoon"><img src="https://discordapp.com/api/guilds/346672255084003329/embed.png?style=banner2"/></a>
    <br>
    <div class="page-content__footer__text">
        This site is hosted on <a href="//github.com/andrewpey/vtland">GitHub</a>,
        so feel free to open a Pull Request if you think something can be fixed, 
        like a small typo or the sentences.<br><br>
        <a href="/eula">EULA</a>
    </div>
</footer>