.background-video {
    background: #000;
    position: fixed;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    z-index: -99;
}

.video-foreground {
    position: absolute;
    top: -6%;
    left: 0;
    width: 100%;
    height: 112%;
    pointer-events: none;
    filter: grayscale(0%);
    opacity: 0.4;
    & .video-content{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

.video-foreground video.video-content {
    animation: fadein 5s;
}