#devlog {
    font-family: 'Roboto';
    line-height: 2rem;
    font-size: 1.5rem;
    list-style: none;
    padding: 0;
    li {
        $tag-post: #fff93f;
        $tag-new-release: #43e857;
        margin: 1.5rem 0;
        padding: 0;
        a {
            border-bottom: 4px solid transparent;
        }
        a:hover {
            border-bottom-color: #fbe119;
        }
        .thumb {
            float: left;
            width: 100px;
            height: 100px;
            margin-right: 24px;
            margin-bottom: 24px;
            overflow: hidden;
            border-radius: 6px;
            img {
                display: block;
                border-radius: 0;
                object-fit: cover;
                min-height: 100%;
            }
        }
        .thumb-new-release {
            $color: #fff;
            float: left;
            width: 100px;
            height: 100px;
            margin-right: 24px;
            margin-bottom: 24px;
            border-radius: 6px;
            text-align: center;
            background: rgba($color, 0.1);
            text-shadow: none;
            a {
                line-height: 100px;
                vertical-align: middle;
                font-size: 2rem;
                color: rgba($color, 0.5);
            }
        }
        .date {
            font-size: 1rem;
        }
        .tag {
            border-radius: 4px;
            font-size: 0.8rem;
            padding: 4px 6px;
            font-weight: normal;
            color: #fffa;
            text-transform: uppercase;
            border: 0;
        }
        .tag.post {
            color:  $tag-post;
            border-color:  $tag-post;
            background: rgba($tag-post, 0.12);
        }
        .tag.new-release {
            color:  $tag-new-release;
            border-color:  $tag-new-release;
            background: rgba($tag-new-release, 0.12);
        }
        clear: both;
    }
}