#devlog {
    font-family: 'Roboto';
    line-height: 2rem;
    font-size: 1.5rem;
    list-style: none;
    padding: 0;
    li {
        $tag-post: #fff93f;
        $tag-new-release: #43e857;
        margin: 1.5rem 0;
        padding: 0;
        .thumb {
            float: left;
            width: 100px;
            height: 100px;
            margin-right: 24px;
            margin-top: 8px;
            margin-bottom: 24px;
            overflow: hidden;
            border-radius: 6px;
            img {
                display: block;
                border-radius: 0;
                margin: 0 -38.885%;
                width: 177.777%;
                min-height: 100%;
            }
        }
        .date {
            font-size: 1rem;
        }
        .tag {
            border-radius: 2px;
            font-size: 1rem;
            padding: 2px 4px;
            font-weight: bold;
            color: #fffa;
            text-transform: uppercase;
            border: solid 1px #fffa;
        }
        .tag.post {
            color:  $tag-post;
            border-color:  $tag-post;
            background: rgba($tag-post, 0.12);
        }
        .tag.new-release {
            color:  $tag-new-release;
            border-color:  $tag-new-release;
            background: rgba($tag-new-release, 0.12);
        }
        clear: both;
    }
}