$xs-screen: 576px;
$sm-screen: 768px;
$md-screen: 992px;
$lg-screen: 1200px;

@mixin xs-mobile {
  @media (max-width: #{$xs-screen - 0.1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$sm-screen - 0.1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$md-screen - 0.1px}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$lg-screen - 0.1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$lg-screen}) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}