.page-content {
    max-width: $page-content-width;
    font-family: 'HansKendrick';
    padding: 0 $page-content-padding;
    padding-top: 3.5714285714285716rem;
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    @include laptop {
        padding-right: 0;
    }
    @include tablet {
        padding: 1.7857142857142858rem;
    }
    @include mobile {
        padding: 1.5rem;
    }
    &__title {
        font-size: 3.4rem;
        padding-bottom: 1.4285714285714286rem;
        font-family: 'HansKendrick', 'roboto';
    }
    &__footer {
        opacity: 0.5;
        margin-top: 3.5714285714285716rem;
        margin-bottom: 3.5714285714285716rem;
        margin-right: auto;
        max-width: 400px;
        line-height: 19px;
    }
    & p {
        padding: 0.8571428571428571rem 0;
        font-size: 1.7142857142857142rem;
        line-height: 1.7;
    }
    & blockquote {
        & p {
            padding: 0;
        }
    }
}

code {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    background: rgba(60, 60, 60, 0.6);
    border-radius: 2px;
    padding: 0.14285714285714285rem 0.35714285714285715rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.7em;
    color: #fffd;
}

date {
    font-size: 0.7em;
    color: #fff8;
    white-space: pre;
}

blockquote {
    border-left: solid 4px rgba(255, 255, 255, 0.3);
    padding-left: 1em;
    margin: 0.7142857142857143rem 0;
}

.highlight {
    border-radius: 5px;
    padding: 0.07142857142857142rem 0.21428571428571427rem;
}

pre.highlight code {
    background: none;
}

.bold-en {
    font-family: 'HansKendrick';
}

.img-inline-left-container
{
    float: left;
    width: 50%;
    margin-right: 30px;
    margin-top: 8px;
}

.img-inline-right-container
{
    float: right;
    width: 50%;
    margin-left: 30px;
    margin-top: 8px;
}

img, iframe, video {
    border-radius: 6px;
}

.img-alt {
    /* font-style: italic; */
    color: #ffffff88;
    display: block;
    margin: 0.2rem 0 1.5rem 0;
}

.three-img {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    &_item {
        &:nth-child(1){
            margin: 5px 0;
            width: 32.5%;
            @include xs-mobile{
                width: 49%;
            }
        }
        &:nth-child(2){
            margin: 5px 0;
            width: 32.5%;
            @include xs-mobile{
                width: 49%;
            }
        }
        &:nth-child(3){
            margin: 5px 0;
            width: 32.5%;
            @include xs-mobile{
                width: 100%;
            }
        }
            
    }
}
.two-img {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    &_item {
        &:nth-child(1){
            margin: 5px 0;
            width: 49.4%;
            @include xs-mobile{
                width: 100%;
            }
        }
        &:nth-child(2){
            margin: 5px 0;
            width: 49.4%;
            @include xs-mobile{
                width: 100%;
            }
        }
    }
}

img {
    &:not(.emoji) {
        width: 100%;
    }
}

video {
    width: 100%;
    margin-bottom: 6px;
}