.page-grid {
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    &__main {
        width: 100%;
        display: flex;
        @media (max-width: #{1230 - 0.1px}) {
            flex-direction: column;
        }
    }
}

