.page-content {
    max-width: $page-content-width;
    font-family: 'HansKendrick';
    padding: 0 $page-content-padding;
    padding-top: 50px;
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    @include tablet {
        padding: 0 10px;
    }
    @include mobile {
        padding: 0 5px;
    }
    &__title {
        font-size: 3rem;
        padding-bottom: 20px;
        font-family: 'HansKendrick', 'roboto';
    }
    &__footer {
        opacity: 0.5;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: auto;
        max-width: 400px;
        font-size: smaller;
        line-height: 19px;
    }
    & img {
        width: 100%;
    }
    & p {
        padding: 12px 0;
        font-size: 24px;
        line-height: 1.7;
    }
    & blockquote {
        & p {
            padding: 0;
        }
    }
}

code {
    background: rgba(60, 60, 60, 0.6);
    border-radius: 2px;
    padding: 2px 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.7em;
    color: #00e5ff;
}

blockquote {
    border-left: solid 4px rgba(255, 255, 255, 0.3);
    padding-left: 1em;
    margin: 10px 0;
}

.highlight {
    border-radius: 5px;
    padding: 1px 3px;
}

pre.highlight code {
    background: none;
}

.bold-en {
    font-family: 'HansKendrick';
}

img.compare-item {
    width: 49.2%;
    margin-right: 5px;
}

img.compare-item.third {
    width: 32.3%;
}

img.compare-item.last {
    margin-right: 0;
}

.img-inline-left-container
{
    float: left;
    width: 50%;
    margin-right: 30px;
    margin-top: 8px;
}

.img-alt {
    font-size: 0.9em;
    /* font-style: italic; */
    color: #ffffff88;
    padding-top: 5px;
}

img, iframe {
    border-radius: 6px;
}