.page-content {
    width: 100%;
    max-width: 800px;
    font-family: 'HansKendrick';
    padding: 0 70px;
    padding-top: 50px;
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    position: relative;
    &__title {
        font-size: 3rem;
    }
    & img {
        width: 100%;
    }
    & p {
        padding: 12px 0;
        font-size: 24px;
        line-height: 1.7;
    }
    & .title {
        color: #00d657;
        text-transform: uppercase;
    }
    & em {
        font-style: normal;
        color: #795548;
        background: #fbe119;
        margin-right: 5px;
        padding: 3px 10px;
        box-shadow: #eab20e 5px 5px;
        text-shadow: none;
    }
}