.page-sidebar {
    margin: 0px 70px 0px 70px;
    width: 250px;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    @include tablet {
        display: none;
        &_modal {
            display: flex;
            background-color: rgba(0, 0, 0, 0.8);
            position: fixed; 
            width: 100vw;
            padding: 30px 0;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            top: 0; left: 0; bottom: 0; right: 0;
            margin: 0;
        }
    }
    flex-direction: column;
    flex-grow: 1;
    font-family: 'HansKendrick';
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
    will-change: min-height;
    margin-bottom: 150px;
    &__inner {
        width: 250px;
        transform: translate(0, 0); /* For browsers don't support translate3d. */
        transform: translate3d(0, 0, 0);
        will-change: position, transform;
    }
}

.sidebar-menu {
    width: 250px;
    &__logo {
        margin-left: -3px;
        width: 250px;
        &_halloween {
            width: 100px;
            &:hover {
                border-color: transparent;
            }
        }
        &:hover {
            border-color: transparent;
        }
    }
    & p {
        display: flex;
        align-items: center;
        width: 250px;
    }
    &__item {
        margin: 6px 0px;
        padding: 4px 0px;
    }
    & small {
        font-size: 14px;
        display: flex;
        align-items: center;
        padding: 12px 10px;
    }
    & hr {
        opacity: 0;
    }
}

.burgerMenu {
    display: none;
    z-index: 9999;
    @include tablet {
        position: fixed;
        right: 0; top: 10px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.589);
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        &__bar1, &__bar2, &__bar3  {
            width: 80px;
            height: 10px;
            background-color: white;
            margin: 4px 0;
            transition: 0.4s;
        }
        &__bar1_transform {
            -webkit-transform: rotate(-45deg) translate(-9px, 13px);
            transform: rotate(-45deg) translate(-9px, 13px);
        }
        &__bar2_transform {
            opacity: 0;
        }
        &__bar3_transform {
            -webkit-transform: rotate(45deg) translate(-11px, -15px);
            transform: rotate(45deg) translate(-11px, -15px);
        }
    }
}