.widget {
    &-steam {
        height: 210px;
        width: $content-width;
    }
    &-itchio {
        height: 175px;
        width: 560px;
        &_dark {
            height: 175px;
            width: $content-width;
        }
    }
    &-youtube {
        height: 382px;
        width: $content-width;
    }
}
