.widget {
    &-steam {
        height: 210px;
        width: 100%;
        &_modal {
            height: 210px;
            max-width: 646px;
            width: 100vw;
            margin: 10px;
        }
    }
    &-itchio {
        height: 175px;
        max-width: 560px;
        &_dark {
            height: 175px;
            max-width: 560px;
            margin-top: 20px;
        }
    }
    &-youtube {
        display: block;
        height: 382px;
        width: 100%;
        margin: 0.7142857142857143rem 0;
        @include tablet {
            height: 30rem;
        }
        @include mobile {
            height: 40rem;
        }
        @include xs-mobile {
            height: 25rem;
        }
        
    }
    &-paypal {
        max-width: 147px;
        height: 47px;
        margin: 0.7142857142857143rem 0;
    }
}
