{% include head.html %}
{% include background-video.html %}   
    <div class="page-grid__main">
        <div class="page-content">
            <h1 class="page-content__title">{{ page.header }}</h1>
            {{ content }}
            <footer class="page-content__footer">
                This site is hosted on <a href="//github.com/andrewpey/vtland">GitHub</a>,
                so feel free to open a Pull Request if you think something can be fixed, 
                like a small typo or the whole sentences.
            </footer>
        </div>
        <div class="page-sidebar">
            <div class="sidebar-menu">
                
                <div class="sidebar-menu__inner">
                    {% capture sidebar %}{% include sidebar.md %}{% endcapture %} {{ sidebar | markdownify }}
                </div>
            </div>
        </div>
    </div>
{% include footer.html %}

