<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>VOXEL TYCOON — MAKE TYCOON GAMES GREAT AGAIN</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <meta name="theme-color" content="#226B54" />
    <meta property="og:image" content="http://voxeltycoon.xyz/icon.jpg">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <div class="video-background">
        <div class="video-foreground">
            {% if page.play_video %}
            <video class="video-content" src="background.mp4" poster="background.jpg" autoplay loop muted />
            {% else %}
            <img class="video-content" src="background.jpg" style="opacity: 0.5">
            {% endif %}
        </div>
    </div>

    <section id="content">
        <div id="tldr">
            {{ content }}
        </div>
    </section>
    
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37507673-2', 'auto');
    ga('send', 'pageview');
    </script>
</body>

</html>
