<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title | default: "VOXEL TYCOON" }}</title>
    <link rel="stylesheet" href="/css/style.css?z={{ site.time | date: "%s" }}">
    <link rel="stylesheet" href="/css/highlight.css?z={{ site.time | date: "%s" }}">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <meta name="theme-color" content="#226B54" />
    <meta property="og:image" content="http://voxeltycoon.xyz/icon.jpg">
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37507673-2', 'auto');
    ga('send', 'pageview');
    </script>
      
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/sticky-sidebar.js"></script>
    <script type="text/javascript">
        var sidebar = new StickySidebar('.sidebar', {
          topSpacing: 20,
          bottomSpacing: 20,
          containerSelector: '.container',
          innerWrapperSelector: '.sidebar__inner'
        });
    </script>
    <div class="video-background">
        <div class="video-foreground">
            {% if page.play_video %}
            <video class="video-content" src="/background.mp4" poster="/background.jpg" autoplay loop muted />
            {% else %}
            <img class="video-content" src="/background.jpg" style="opacity: 0.5">
            {% endif %}
        </div>
    </div>
    <section id="content" class="container">
        {% unless page.is_contacts %}
        <div class="page-content {{ page.wrapper }}">
            <h1>{{ page.header }}</h1>
            {{ content }}
            <div class="fix-it">
                <small>
                    This site is hosted on <a href="//github.com/andrewpey/vtland">GitHub</a>,
                    so feel free to open a Pull Request if you think something can be fixed, like a small typo or the whole sentences.
                </small>
            </div>
        </div>
        {% endunless %}
        {% unless page.hide_sidebar %}
        <div class="sidebar">
            <div class="sidebar__inner">
            <a class="logo" href="/">
                <img src="/assets/press/voxeltycoon_text.png"/>
            </a>
            {% capture sidebar %}{% include sidebar.md %}{% endcapture %} {{ sidebar | markdownify }}
            </div>
        </div>
        {% endunless %}
    </section>

</body>

</html>
