{% include head.html %}
    <div class="page-grid__main">
        <div class="page-content">
            <h1>{{ page.header }}</h1>
            {{ content }}
        </div>
        <div class="page-sidebar">
            <div class="sidebar-menu">
                <div class="sidebar-menu__inner">
                    {% capture sidebar %}{% include sidebar.md %}{% endcapture %} {{ sidebar | markdownify }}
                </div>
            </div>
        </div>
    </div>
{% include footer.html %}
