{% include head.html %}
{% include background-video.html %}
    <div class="page-grid__main">
        <div class="page-content">
            <div class="page-post">
                <h1 class="page-content__title">{{ page.title }}</h1>
                {{ content }}
                <div class="page-nav">
                        {% if page.previous.url %}
                    <div class="prev">
                        Previous post<br>
                        <a href="{{page.previous.url}}">{{page.previous.title}}</a><br>
                        <code>{{ page.previous.date | date_to_long_string }}</code>
                    </div>
                    {% endif %}
                    {% if page.next.url %}
                    <div class="next">
                        Next post<br>
                        <a href="{{page.next.url}}">{{page.next.title}}</a><br>
                        <code>{{ page.next.date | date_to_long_string }}</code>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% unless page.hide_sidebar %}
        <div class="page-sidebar">
            <div class="sidebar-menu">
                <div class="sidebar-menu__inner">
                    {% capture sidebar %}{% include sidebar.md %}{% endcapture %} {{ sidebar | markdownify }}
                </div>
            </div>
        </div>
        {% endunless %}
    </div>
{% include footer.html %}