{% include head.html %}
{% include background-video.html %}
    <div class="page-grid__main">
        <div class="page-content">
            <h1 class="page-content__title">{{ page.title }}</h1>
            {{ content }}
            {% if page.date %}
                <p style="text-align: center"><a href="/devlog" class="clear"><date>{{ page.date | date_to_long_string }}</date></a></p>
            {% endif %}
            <div class="page-nav">   
                <div class="page-nav__prev">
                    {% if page.previous.url %}
                        Previous post<br>
                        <a href="{{page.previous.url}}">{{page.previous.title}}</a><br>
                        <date>{{ page.previous.date | date_to_long_string }}</date>
                    {% endif %}
                </div>
                <div class="page-nav__next">
                    {% if page.next.url %}
                        Next post<br>
                        <a href="{{page.next.url}}">{{page.next.title}}</a><br>
                        <date>{{ page.next.date | date_to_long_string }}</date>
                    {% endif %}
                </div>
            </div>
            <footer class="page-content__footer">
                This site is hosted on <a href="//github.com/andrewpey/vtland">GitHub</a>,
                so feel free to open a Pull Request if you think something can be fixed, 
                like a small typo or the whole sentences.
            </footer>
        </div>
        <div class="page-sidebar">
            <div class="sidebar-menu">
                <div class="sidebar-menu__inner">
                    {% capture sidebar %}{% include sidebar.md %}{% endcapture %} {{ sidebar | markdownify }}
                </div>
            </div>
        </div>
    </div>
{% include footer.html %}