{% include head.html %}
{% include background-video.html %}
    <div class="page-grid__main">
        <div class="page-content {{ page.wrapper }}">
            <h1 class="page-content__title">{{ page.title }}</h1>
            {{ content }}
            {% if page.date %}
                <p style="text-align: center"><a href="/devlog" class="clear"><code>{{ page.date | date_to_long_string }}</code></a></p>
            {% endif %}
            <div class="page-nav">   
                <div class="page-nav__prev">
                    {% if page.previous.url %}
                        Previous post<br>
                        <a href="{{page.previous.url}}">{{page.previous.title}}</a><br>
                        <code>{{ page.previous.date | date_to_long_string }}</code>
                    {% endif %}
                </div>
                <div class="page-nav__next">
                    {% if page.next.url %}
                        Next post<br>
                        <a href="{{page.next.url}}">{{page.next.title}}</a><br>
                        <code>{{ page.next.date | date_to_long_string }}</code>
                    {% endif %}
                </div>
            </div>
        </div>
        {% unless page.hide_sidebar %}
        <div class="page-sidebar">
            <div class="sidebar-menu">
                <div class="sidebar-menu__inner">
                    {% capture sidebar %}{% include sidebar.md %}{% endcapture %} {{ sidebar | markdownify }}
                </div>
            </div>
        </div>
        {% endunless %}
    </div>
{% include footer.html %}